@model Application.SMS.CONTENT.ViewModel.EditContentVM

@{
    ViewData["Title"] = "Edit";
}

<!-- Page Heading -->
<h1 class="h3 mb-2 text-gray-800">Edit Content</h1>


<!-- Basic Card Example -->
<div class="row">
    <div class="col-md-10">
        <form asp-controller="Content" asp-action="EditContent" method="post">
            <div class="form-group">
                <div class="form-row">
                    <div class="col-md-6">
                        <label asp-for="ContentText" id="Date">Content Text : </label>
                    </div>
                    <div class="col-md-6">
                        <input class="form-control" asp-for="ContentText" type="text" value="@Model.ContentText"/>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="form-row">
                    <div class="col-md-6">
                        <label asp-for="ContentSchedule" id="Date">Schedule Date : </label>
                    </div>
                    <div class="col-md-6">
                        <input class="form-control datepicker" asp-for="ContentSchedule" type="date" value="@Model.ContentSchedule.Value.ToString("yyyy-MM-dd")"/>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="form-row">
                    <div class="col-md-6">
                        <label asp-for="ContentPath" id="Date">Rich Content : </label>
                    </div>
                    <div class="col-md-6">
                        <input class="form-control" asp-for="ContentPath" type="file" />
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="form-row">
                    <div class="col-md-6">
                        <label asp-for="MessageOrder" id="Date">Message order : </label>
                    </div>
                    <div class="col-md-6">
                        <input class="form-control" asp-for="MessageOrder" type="number" value="@Model.MessageOrder" />
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="form-row">
                    <div class="col-md-6">
                        <label asp-for="ContentTypeId" id="Date">Content Type : </label>
                    </div>
                    <div class="col-md-6">
                        <select class="form-control" asp-for="ContentTypeId" asp-items="Model.ContentType" name="ContentTypeId"></select>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="form-row">
                    <div class="col-md-6">
                        <label asp-for="ServiceId" id="Date">Service : </label>
                    </div>
                    <div class="col-md-6">
                        <select class="form-control" asp-for="ServiceId" asp-items="Model.ListVMService" name="ServiceId"></select>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="form-row">
                    <div class="col-md-6">
                        <label asp-for="OperatorId" id="Date">Operator : </label>
                    </div>
                    <div class="col-md-6">
                        <select class="form-control" asp-for="OperatorId" asp-items="Model.ListVMOperator" name="Operatorid"></select>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="form-row">
                    <div class="col-md-6">
                        <input class="btn btn-success" type="submit" value="Submit" />
                        <a class="btn btn-danger" href="@Url.Action("Index")">Cancel</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
